<%- include('partials/header') %>

<main class="body__main">
    <section class="body__main--ctn">
        <h2 class="body__main--ctn-title">Choisissez le film de votre recette</h2>
        <section class="body__main--ctn-sectionSearch">
            <form action="/rechercher/titre" method="get" class="body__main--ctn-searchForm">
                <article class="body__main--ctn-searchForm-part-ctn">
                    <label for="title" class="body__main--ctn-searchForm-part-btn-label">Titre </label>
                    <input type="search" name="title" id="title" class="body__main--ctn-searchForm-part-btn-input" placeholder="Dune">
                    <button type="submit" class="body__main--ctn-searchForm-part-btn"><img src="/assets/img/icon/search.png" alt="Icone de recherche : loupe rouge" class="body__main--ctn-searchForm-part-btn-img"></button>    
                </article>
            </form>
            <form action="/rechercher/genre" method="get" class="body__main--ctn-searchForm">
                <article class="body__main--ctn-searchForm-part-ctn">
                    <label for="name" class="body__main--ctn-searchForm-part-btn-label">Genre </label>
                    <select name="name" id="name">
                        <option value="">Sélectionner</option>
                        <% categories.forEach(category => { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                        <% }) %>
                    </select>
                    <button type="submit" class="body__main--ctn-searchForm-part-btn"><img src="/assets/img/icon/search.png" alt="Icone de recherche : loupe rouge" class="body__main--ctn-searchForm-part-btn-img"></button> 
                </article>
            </form>
        </section>
        <section class="body__main--ctn-searchResult">
            <form action="/recette/ajouter/recette" method="get" class="body__main--ctn-searchResult-form">
                <% moviesTreated.forEach(movie => { %>
                    <article class="body__main--ctn-searchResult-card" id="<%= movie.id %>">
                        <label for="id" class="body__main--ctn-searchResult-card-label">
                            <img src="<%= movie.image %>" alt="Affiche du film <%= movie.title %>" class="movie-image">
                            <ul>
                                <li><%= movie.title %></li>
                                <li><%= movie.year %></li>
                            </ul>                        
                        </label>
                        <input type="radio" name="id" id="<%= movie.id %>" value="<%= movie.id %>">
                    </article>
                <% }) %> 

                <button type="submit" class="form-btn">Enregistrer</button>
            </form>                             
        </section>
    </section>
</main>

<%- include('partials/footer') %>