<%- include('partials/header') %>

<main class="body__main">
    <section class="body__main--ctn">
        <h2 class="body__main--ctn-title">Choisissez le film de votre recette</h2>
        <section class="body__main--ctn-sectionSearch">
            <form action="/rechercher/titre" method="get" class="body__main--ctn-searchForm">
                <article class="body__main--ctn-searchForm-part-ctn">
                    <label for="title" class="body__main--ctn-searchForm-part-btn-label">Titre </label>
                    <input type="search" name="title" id="title" class="body__main--ctn-searchForm-part-btn-input" placeholder="Dune">
                    <button type="submit" class="body__main--ctn-searchForm-part-btn"><img src="/assets/img/icon/search.png" alt="Icone de recherche : loupe rouge" class="body__main--ctn-searchForm-part-btn-img"></button>    
                </article>
            </form>
            <form action="/rechercher/genre" method="get" class="body__main--ctn-searchForm">
                <article class="body__main--ctn-searchForm-part-ctn">
                    <label for="category" class="body__main--ctn-searchForm-part-btn-label">Genre </label>
                    <input type="search" name="category" id="category" class="body__main--ctn-searchForm-part-btn-input" placeholder="Comédie">
                    <button type="submit" class="body__main--ctn-searchForm-part-btn"><img src="/assets/img/icon/search.png" alt="Icone de recherche : loupe rouge" class="body__main--ctn-searchForm-part-btn-img"></button> 
                </article>
            </form>
        </section>
        <section class="body__main--ctn-searchResult">
            <article>
                <form action="/recette/filmId/ajouter" method="get">
                    <% movies.results.forEach(movie => { %>
                        <article class="body__main--ctn-searchResult-card" id="<%= movie.id %>">
                            <label for="movie_id"><img src="<%= movie.posterUrl %>" alt="Affiche du film <%= movie.title %>">
                                <ul>
                                    <li>Année : <%= movie.release_date %></li>
                                </ul>                        
                            </label>
                        <input type="radio" name="movie_id" id="movie_id">
                    <% }) %> 

                    <button type="submit">Enregistrer</button>
                </form>                             
            <article>
        </section>
    </section>
</main>

<%- include('partials/footer') %>