<%- include('partials/header') %>

<link rel="stylesheet" href="/assets/css/recipes.css">

<main>
    <section class="filters">
        <form method="GET">
            <label for="difficulty">Difficulté:</label>
            <select name="difficulty" id="difficulty">
                <option value="">Choisir</option>
                <option value="Facile" <%= difficulty === 'Facile' ? 'selected' : '' %>>Facile</option>
                <option value="Moyenne" <%= difficulty === 'Moyenne' ? 'selected' : '' %>>Moyenne</option>
                <option value="Difficile" <%= difficulty === 'Difficile' ? 'selected' : '' %>>Difficile</option>
            </select>

            <label for="category">Catégorie:</label>
            <select name="category" id="category">
                <option value="">Choisir</option>
                <option value="Entrée" <%= selectedCategory === 'Entrée' ? 'selected' : '' %>>Entrée</option>
                <option value="Plat" <%= selectedCategory === 'Plat' ? 'selected' : '' %>>Plat</option>
                <option value="Dessert" <%= selectedCategory === 'Dessert' ? 'selected' : '' %>>Dessert</option>
            </select>

            
            <label for="price">Prix:</label>
            <select name="price" id="price">
                <option value="">Choisir</option>
                <option value="Eco" <%= selectedPrice === 'Eco' ? 'selected' : '' %>>Eco</option>
                <option value="Moyen" <%= selectedPrice === 'Moyen' ? 'selected' : '' %>>Moyen</option>
                <option value="Cher" <%= selectedPrice === 'Cher' ? 'selected' : '' %>>Cher</option>
            </select>

            <button type="submit">Filtrer</button>

            <label for="search">Rechercher :</label>
            <input type="text" name="search" id="search" placeholder="Rechercher une recette, un auteur, un film, une catégorie, une difficulté..." value="<%= search || '' %>">
            <button type="submit">Rechercher</button>

        </form>
    </section>


    <section class="recipies">

        <% recipes.forEach(recipe => { %>
            <section class="recipe">
                <div class="image-container">
                    <h3 class="name-recipe"><%= recipe.name %></h3>
                    <div class="article-container">


                        <article class="movie-image" style="background-image: url('/assets/img/movies/<%= recipe.movie.title.toLowerCase().replace(/\s+/g, '-').replace(/[éèê]/g, 'e').replace(/[àâ]/g, 'a').replace(/[ùü]/g, 'u').replace(/[ô]/g, 'o').replace(/[^a-z0-9-]/g, '') %>.jpg')">
                            <img src="/assets/img/recipes/<%= recipe.image %>" class="recipe-img" alt="Image de <%= recipe.name %>">

                        </article>
                    </div>

                    <section class="img-symbole">

                        <p class="time">  
                            <img src="/assets/img/icon/time.jpg" alt="symbole-temps" class="symbole"> 
                            <%= recipe.duration %> min
                        </p>
                        <p class="difficulte">
                            <img src="/assets/img/icon/difficulty.png" alt="symbole-difficulte" class="symbole">  
                            <%= recipe.difficulty.label %>
                        </p>
                        <p class="price"> 
                            <img src="/assets/img/icon/euro.jpg" alt="symbole-euro" class="symbole"> 

                            <%= recipe.price.name %>
                        </p>
                        
                    </section>

                    <div>
                        <button>
                            <a href="/recettes/<%= recipe.slug %>">Voir la recette</a>

                        </button>
                    </div>
                </div>
            </section>
        <% }) %>
    </section>

    <%- include('partials/footer') %>
</main>

</body>
</html>
