<%- include('partial/header') %>

<link rel="stylesheet" href="/assets/css/recipies.css">


    <main>

    <section class="recipies">

        <% recipes.forEach(recipe => { %>
       
            <section class="recipe">

        <div class="image-container">
                
                <h3 class="name-recipe"><%= recipe.name %></h3>

            <div class="article-container">
                <article class="movie-image" style="background-image: url('/assets/img/<%= recipe.movie %>.jpg');">
                     <img src="/assets/img/<%= recipe.name %>.jpg" class="recipe-img">
               </article>
            </div>
                
             <section class="img-symbole">
                    <p class="time">  <img src="/assets/img/symbole-temps.jpg" alt="symbole-temps" class="symbole"> <%= recipe.time %></p>
                    <p class="difficulte" ><img src="/assets/img/symbole-difficulté.jpg" alt="symbole-difficulte" class="symbole">  <%= recipe.difficulty %></p>
                    <p class="price"> <img src="/assets/img/symbole-euro.jpg" alt="symbole-euro" class="symbole"> <%= recipe.price %></p>
            </section>
                    <div>
                        <button>
                            <a href="/recette/<%= recipe.name %>">Voir la recette</a>
                        </button>
                     </div>
        </div>
               
            
            </section>
            <% }) %>
    
    
    <%- include('partial/footer') %>
    
</main>
    
</body>
</html>